.header__class{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: auto;
    height: 320px;
    border: 2px solid rgb(157, 255, 0);
}
.backgraund__image{
    object-fit:fill;
    outline: 4px auto #145B97;
    background-image: image('../../bgprincipal.png');

}